/** (C) Copyright 2006-2014 Hewlett-Packard Development Company, L.P. */
div.headerDivOuter {
display:none;
}
tr.readerCaptionRow {
overflow:visible;
height:auto;
}
tr.readerCaptionRow th input {
display:block;
}
.scrollingDiv {
overflow:visible;
}
tr.readerCaptionRow th,
tr.readerCaptionRow th.sortedDescending,
tr.readerCaptionRow th.sortedAscending,
tr.readerCaptionRow th.sortedDescending div,
tr.readerCaptionRow th.sortedAscending div,
tr.readerCaptionRow th input {
padding:0px 5px;
margin:0px;
border:0px;
visibility:visible;
font-size:11px;
overflow:visible;
height:auto;
background-color:#968F89;
color:#fff;
color:#fff;
text-align:left;
}
table.scrollingTable {
margin-bottom:50px;
height:auto;
}