/** (C) Copyright 2006-2014 Hewlett-Packard Development Company, L.P. */
DIV.progressWrapperOn
{
display:block;
}
DIV.progressWrapperOff
{
display:none;
}
DIV.progressOutline
{
width:98%;
height:9px;
background-color:#CCCCCC;
border:1px solid #666666;
margin:0px;
overflow:hidden;
border-collapse:collapse;
}
* HTML DIV.progressOutline
{
height:11px;
}
DIV.progressMade, DIV.progressLeft
{
float:left;
}
DIV.progressMade
{
height:100%;
background-color:#666666;
border-right:1px solid #4C4C4C;
}
DIV.progressLeft
{
position:relative;
height:1px;
border-top:1px solid #B3B3B3;
margin-right:-1px;
}
DIV.progressProcess, DIV.progressPercentage
{
font-size:11px;
font-family:Arial;
text-align:left;
padding:0px 10px 0px 10px;
}
TD.smallProgressCell
{
padding:1px;
}
DIV.percentageOutline
{
width:98%;
height:10px;
background-color:lightgrey;
border:1px solid #7F9D89;
margin:3px;
padding-right:1px;
font-family:verdana,arial;
font-weight:bold;
font-size:8px;
text-align:center;
overflow:hidden;
}
DIV.percentageBar, DIV.percentageBarWarning, DIV.percentageBarCritical, DIV.percentageBarRedundant
{
height:100%;
width:100%;
font-family:verdana,arial;
font-weight:bold;
font-size:8px;
text-align:center;
color:#000000;
float:left;
border:0px;
margin:0px;
white-space:nowrap;
}
DIV.percentageBar
{
background-color:limegreen;
}
DIV.percentageBarWarning
{
background-color:#FBDF1C;
color:#000000;
}
DIV.percentageBarCritical
{
background-color:red;
color:#FFFFFF;
}
DIV.percentageBarRedundant
{
background-color:yellow;
position:relative;
clear:none;
}
DIV.limitIndicatorOutline, DIV.limitIndicatorIconOutline, DIV.limitIndicatorSpanOutline, DIV.limitIndicatorInvisible
{
width:98%;
height:10px;
background-color:none;
border:0px;
margin-left:3px;
margin-right:3px;
margin-bottom:5px;
position:relative;
white-space:nowrap;
}
DIV.limitIndicatorIconOutline
{
margin-top:10px;
height:15px;
}
DIV.limitIndicatorSpanOutline
{
margin-bottom:3px;
margin-top:3px;
height:40px;
}
DIV.limitIndicator, DIV.limitIndicatorIcon, DIV.limitIndicatorNormal, DIV.limitIndicatorWarning, DIV.limitIndicatorCritical, DIV.limitIndicatorInvisible
{
float:left;
position:absolute;
height:10px;
background-color:none;
border-right:3px solid red;
font-family:arial;
font-weight:normal;
font-size:9px;
text-align:right;
color:#000000;
}
DIV.limitIndicatorNormal, DIV.limitIndicatorNormalIcon
{
border-right:2px solid black;
}
DIV.limitIndicatorWarning, DIV.limitIndicatorWarningIcon
{
border-right:3px solid orange;
}
DIV.limitIndicatorCritical, DIV.limitIndicatorCriticalIcon
{
border-right:3px solid red;
}
DIV.limitIndicatorIcon
{
border:0px;
height:15px;
left:6.5px;
}
DIV.limitIndicatorInvisible
{
border:0px;
}
SPAN.limitIndicatorText, SPAN.limitIndicatorTextRightAligned
{
display:block;
position:relative;
left:25px;
width:50px;
height:40px;
float:right;
text-align:center;
overflow:hidden;
font-weight:normal;
font-size:9px;
}
SPAN.limitIndicatorTextRightAligned
{
left:0px;
width:60px;
text-align:right;
}
DIV.percentageOutlineVertical, DIV.percentageOutlineVerticalWarning, DIV.percentageOutlineVerticalCritical,
DIV.chartOutlineVertical, DIV.chartOutlineVerticalWarning, DIV.chartOutlineVerticalCritical
{
width:10px;
height:80px;
border:1px solid #7F9D89;
margin:2px;
float:left;
overflow:hidden;
}
DIV.percentageOutlineVertical, DIV.chartOutlineVertical
{
background-color:limegreen;
}
DIV.chartOutlineVertical
{
width:5px;
height:200px;
margin:0px;
border:0px;
}
DIV.percentageOutlineVerticalWarning, DIV.chartOutlineVerticalWarning
{
background-color:#FBDF1C;
}
DIV.percentageOutlineVerticalCritical, DIV.chartOutlineVerticalCritical
{
background-color:red;
}
DIV.percentageBarVertical, DIV.chartBarVertical
{
width:10px;
background-color:lightgrey;
font-size:0px;
position:relative;
}
DIV.chartBarVertical
{
width:5px;
}