/** (C) Copyright 2006-2014 Hewlett-Packard Development Company, L.P. */
table.code, table.tips, table.attention
{
border:1px solid #cccccc;
width:100%;
margin:0px;
}
table.code, table.image
{
border-collapse:collapse;
}
td.code
{
font-family:courier new,courier,monospace;
font-size:9pt;
padding:5px;
background:#eeeeee;
border:1px solid #cccccc;
}
.section
{
background:#003366;
color:white;
font-weight:bold;
padding:2px 5px 2px 5px;
}
.tooltipWindow
{
overflow:hidden;
font-family:Arial;
font-size:11px;
background:infobackground;
border:1px solid #666666;
margin:0px;
padding:2px;
}
div.popup, div.popupNotice, div.popupSmallWrapper
{
z-index:1000;
position:absolute;
visibility:hidden;
padding:5px;
margin:5px;
background:infobackground;
border:1px solid #cccccc;
overflow:hidden;
}
div.deviceInfo
{
z-index:1000;
display:none;
position:absolute;
padding:2px 0px 0px 2px;
margin:0px;
text-align:left;
background:infobackground;
border:1px solid #666666;
_filter:progid:DXImageTransform.Microsoft.Shadow(opacity=30,color=#333333,direction=120,strength=3);
}
iframe.about
{
z-index:2000;
display:block;
position:absolute;
padding:0px 0px 0px 0px;
margin:0px;
background-color:White;
border:2px outset #666666;
_filter:progid:DXImageTransform.Microsoft.Shadow(opacity=30,color=#333333,direction=120,strength=3);
}
img.deviceInfoShadow
{
position:absolute;
padding:0px;
margin:0px;
border:0px;
}
img.tooltipIcon
{
width:12px;
height:12px;
vertical-align:middle;
border:0px;
cursor:default;
pointer:default;
}
div.popupSmallWrapper
{
background:none;
border:0px;
padding:0px;
border:0px;
}
div.popupSmallTitle
{
height:12px;
color:white;
background:#666666;
}
div.popupSmallBody, div.helpPopupSmallBody
{
background:#FFF;
border:1px solid #666666;
padding:5px;
font-family:Arial;
font-size:11px;
}
div.popupNotice
{
border:1px solid #000;
margin:0px;
background:#FFF;
font-family:Arial;
font-size:11px;
height:auto;
line-height:0px;
}
div.popupSmallBody
{
background:#F9F9D5;
}
a:link.popupText, a:active.popupText, a:visited.popupText, a:hover.popupText
{
color:green;
text-decoration:underline;
cursor:default;
pointer:default;
}
td.pictureCaption
{
text-align:center;
font-size:10px;
font-weight:bold;
font-family:arial,verdana,tahoma;
}
dl
{
line-height:20px;
}
dt
{
font-weight:bold;
}
dd
{
margin-left:10px;
margin-bottom:10px;
}